table,
td {
    border: 1px solid #333;
    vertical-align: top;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

h2 {
    color: white;
    text-align: center;
}
li {
    color: rgb(164, 129, 129);
}
.form {
    color: rgb(18, 201, 49);
}
.reponse {
    color: rgb(236, 139, 12);
}
#frmForm {
    background-color: rgb(30, 126, 190);
}
#frmRep {
    background-color: rgb(101, 86, 187);
}
.ifr {
    height: 600px;
    width: 600px;
}

#listeGauche {
    height: 600px;
    overflow: scroll;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
